<h1>Books</h1>

<% @books.each do |book| %>

  <table>
   <thead>
    <tr>
     <th>Title</th>
     <th>Body</th>
     <th coltd="3"></th>
    </tr>
   </thead>
   <tbody>
     <tr>
       <td><%= book.title %></td>
       <td class="index-body-text"><%= book.body %></td>
       <td class="link"><%= link_to 'Show', book_path(book.id) %>--></td>
       <td class="link"><%= link_to 'Edit', book_path(book.id) %>--></td>
       <td class="link"><%= link_to "Dstroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>--></td>
     </tr>
   </tbody>
  </table>

 <% end %>

<h2>New Book</h2>
<%= form_with model: @book, url: 'books', method: :post do |f| %>

  <h4 class="index-box">Title</h4>
  <div><%= f.text_field :title %></div>

  <h4 class="index-box">Body</h4>
  <div><%= f.text_area :body %></div>

 <div class="box">
  <%= f.submit 'Create Book' %>
 </box>
<% end %>